<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./assets/master.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="green_top_line">
    </div>
    <div id="root">
      <header>
<!-- NAV -->
        <nav>
          <div class="cont_left">
            <div class="avat_cont">
              <img class="avatar" src="./assets/img/avatar_5.jpg" alt="">
            </div>
            <div class="cont_mes">
              <h4>Darius</h4>
              <p>last message received at 11.30 PM</p>
            </div>
          </div>
          <div class="cont_right">
            <div class="icons_nav_cont">
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
              <a href="#">
                <i class="fas fa-paperclip"></i>
              </a>
              <a href="#">
                <i class="fas fa-ellipsis-v"></i>
              </a>
            </div>
          </div>
        </nav>
      </header>
      <main>
<!-- ASIDE -->
        <aside>
          <div class="top_container_aside">
            <div class="nav_aside">
              <div class="cont_left">
                <div class="avat_cont">
                  <img class="avatar two" src="./assets/img/avatar_io.jpg" alt="">
                </div>
              </div>

              <div class="cont_right">
                <div class="icons_nav_cont">
                  <a href="#">
                    <i class="fas fa-circle-notch"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-comment-alt"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="reserch_change_top_bar">
              <div class="avat_cont bell">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="cont_mes bell">
                <p><b>Get notifications for new messages</b></p>
                <p class="underline">Enable sound notifications</p>
              </div>
            </div>

            <div class="reserch_bar">
              <div class="avat_cont search">
                <i class="fas fa-search"></i>
              </div>
              <div class="cont_text search">
                <input type="text" name="" value="" placeholder="Search or start a new chat">
              </div>
            </div>
          </div>
<!-- AVATARS -->
          <div class="bottom_container_aside"
          v-for="(contact, i) in contacts">
            <div class="reserch_change_top_bar avatars"

            v-on:click="index = i">
              <div class="avat_cont avatars active">
                <img
                v-bind:src=" `./assets/img/avatar${contact.avatar}.jpg`"

                class="avatar">
              </div>
              <div class="cont_mes bell">
                <p><b>
                  {{ contact.name }}
                </b></p>
                <p class="time" >

                </p>
              </div>
              <div class="time_cont">
              </div>
            </div>
          </div>

        </aside>
<!-- MESSAGES -->
        <section>
          <div class="row_mes">
            <div class="message"
            v-for="message in contacts[index].messages"
            :class="message.status">
              {{ message.text }}
            </div>
          </div>
        </section>
<!-- FOOTER -->
        <footer>
          <div class="cont smile">
            <i class="fas fa-smile"></i>
          </div>
          <div class="cont-message">
            <input class="input-message-footer" type="text" name="" placeholder="write a message">
          </div>
          <div class="cont mic">
            <i class="fas fa-microphone"></i>
          </div>
        </footer>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
