*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d2e0dd;
  position: relative;
}

.green_top_line {
  width: 100%;
  height: 20%;
  background-color: #30b5b2;
}

#root {
  width: 90%;
  height: 92%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 18px #888888;
}

/* NAV */
nav {
  width: calc(100% - 30%);
  height: 60px;
  background-color: #e8eeef;
  float: right;
  display: flex;
  justify-content: space-between;
}

nav > .cont_left, .cont_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}

nav > .cont_left {
  margin-left: 5px;
}

nav > .cont_right {
  margin-right: 5px;
}

.cont_right > .icons_nav_cont > a > i {
  margin-left: 15px;
}

.cont_mes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cont_mes > p {
  margin: 0;
}

.avat_cont {
  width: 80px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  width: 60px;
  height: 55px;
  border-radius: 50%;
}

/* MAIN */
main {
  width: 100%;
  height: 100%;
}

/* ASIDE */
aside {
  width: 30%;
  height: 92%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

aside > .top_container_aside {
  width: 100%;
}

/* NAV ASIDE */
.nav_aside {
  width: 100%;
  height: 60px;
  background-color: #e1e7e8;
  display: flex;
  justify-content: space-between;
}

aside > .bottom_container_aside {
  width: 100%;
}

img.avatar.two {
  margin-top: 5px;
}

.cont_right {
  margin-right: 5px;
}

/* BELL BAR ASIDE */
.reserch_change_top_bar {
  width: 100%;
  height: 75px;
  background-color: #81e5f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.avat_cont.bell {
  width: 65px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 15px;
}

.avat_cont.bell > i {
  font-size: 18px;
}

.cont_mes.bell {
  margin-left: 7px;
}

.cont_mes.bell > p.underline {
  text-decoration: underline;
}

/* SEARCH BAR ASIDE */
.reserch_bar {
  width: 100%;
  height: 44px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avat_cont.search > i {
  font-size: 15px;
}

.cont_text.search > input {
  width: 180px;
}

/* AVATAR ASIDE */
.reserch_change_top_bar.avatars {
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-grow: 3;
  flex-shrink: 3;
}

.reserch_change_top_bar.avatars:active {
  width: 100%;
  background-color: #d9dde2;
  border-radius: 5px;
}

.reserch_change_top_bar.avatars:hover {
  background-color: #d9dde2;
  cursor: pointer;
}

.time_cont > p {
  margin-right: 15px;
}

.avat_cont.avatars > img {
  width: 60px;
}

.cont_text_av > p {
  width: 130px;
  margin-left: 5px;
  font-size: 10px;
}

/* MAIN SECTION */
section {
  width: calc(100% - 30%);
  height: calc(100% - 120px);
  float: right;
  background-image: url('../assets/img/mine.jpg');
}

/* SECTION + MESSAGES */
.row_mes{
  height: 50px;
}

.message {
  max-width: 300px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  padding: 10px 7px 0 7px;
  border-radius: 5px;
  box-shadow: 5px 4px 12px #888888;
}

.message.sent  {
  background-color: #d8f7be;
  float: right;
  clear: both;
}

.message.received {
  background-color: #fff;
  float: left;
  clear: both;
}

.message > p {
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
}

.time {
  font-size: 10px;
  color: grey;
  font-style: oblique;
  margin-top: 3px;
}

/* DROPDOWN */

.dropdown > button.my_button {
  float: right;
  background-color: transparent;
  border: none;
  line-height: normal;
}

.dropdown-toggle::after {
  color: black;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: transparent;
    background-color: transparent;
    border-color: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
   box-shadow: none;
}

.btn {
  margin-top: 2px;
  padding: 2px;
}

.dropdown-menu {
  min-width: 0;
  border-radius: 7px;
}

a.dropdown-item:focus {
  color: inherit;
  background-color: #d9dde2;
}

/* FOOTER */
footer {
  width: calc(100% - 30%);
  height: 60px;
  background-color: #e8eeef;
  float: right;
  display: flex;
}

footer > .cont {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .cont-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .cont-message, .input-message-footer {
  width: 95%;
  height: 80%;
  align-self: center;
  border-radius: 30px;
  font-size: 13px;
  padding-left: 15px;
}

footer > .smile, i {
  font-size: 25px;
  color: grey;
}

@media screen and (max-width: 910px) {

  .cont_mes.bell {
    font-size: 13px;
    margin-left: 20px;
  }

  .cont_text_av {
    display: none;
  }

  .time_cont {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .avat_cont.bell {
    display: none;
  }

  .cont_mes.bell {
    font-size: 12px;
  }

  .cont_text.search > input {
    width: 40px;
  }

  .icons_nav_cont > a:first-child {
    display: none;
  }

  i.fas.fa-paperclip {
    display: none;
  }

  i.fas.fa-circle-notch {
    display: none;
  }

  i.fas.fa-comment-alt {
    display: none;
  }

}

@media screen and (max-width: 480px) {

  nav {
    width: 100%;
  }

  aside {
    display: none;
  }

  section {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
