*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  height: 60px;
  background-color: lightgrey;
  position: fixed;
}

aside {
  width: 30vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}


section {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: blue;
  background-image: url('../assets/img/mine.jpg');
}

footer {
  width: calc(100vw - 30vw);
  height: 60px;
  background-color: lightgrey;
  float: right;
  display: flex;
}

footer > .cont {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .cont-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .cont-message, .input-message-footer {
  width: 95%;
  height: 80%;
  align-self: center;
  border-radius: 30px;
  font-size: 10px;
  padding-left: 15px;
}

footer > .smile, i {
  font-size: 25px;
  color: grey;
}
